.service-container{
    max-width: 100%;
    overflow-x: hidden;
    height: 520px;
  }
  
  .text-center {
    position: relative;
    top: 10px;
  }

  .service-title{
    position: relative;
    left: 0px;
  }
  
  .section-title{
    font-size: 17px;
    position: relative;
    left: 0px;
    top: 10px;
    color: #FEA116;
  }
  
  .section-title::after {
    content: '';
    position: absolute;
    left: 890px;
    top: 50%; /* Position at half the height of the text */
    width: 50px; /* Adjust the length of the lines */
    height: 3px; /* Adjust the thickness of the lines */
    background-color: #007bff; 
 }
  
  .section-title::before {
    content: '';
    position: absolute;
    left: 600px;
    top: 50%; /* Position at half the height of the text */
    width: 50px; /* Adjust the length of the lines */
    height: 3px; /* Adjust the thickness of the lines */
    background-color: #007bff; 
  }
  
  .text-primary{
    color: #FEA116;
    font-size: 35px;
  }
  
  .row{
    height: 300px;
    position: relative;
    top: 80px;
    width: 208vh;
    display: flex;
    justify-content: space-evenly;
  }
  
  .service{
    width: 330px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .service-item {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
    position: relative;
    bottom: 15px;
    height: 300px;
  }
  
 
  
  .service-item .service-icon {
    margin: 0 auto 30px auto;
    width: 65px;
    height: 65px;
    transition: .5s;
    color: #007bff;
  }
  
  .service-item i,
  .service-item h4,
  .service-item p {
    transition: .5s;
  }
  
  
  
  .service-icon i{
    font-size: 45px;
  }

  .service:hover .service-icon {
    transform: translateY(135px);
    z-index: 1000;
    color: #fff !important;
  }

  .service:hover .service-icon i {
    z-index: 1000;
    color: #fff !important;
  }
  
  .service:hover h4 {
    transform: translateY(120px);
    color: #fff !important;
  }
  
  .service:hover p {
    transform: translateY(-140px);
    transition: opacity 0.3s ease, transform 0.5s ease;
  }
  
  .service-item h4,
  .service-item p {
    transition: 0.5s;
  }
  
  .service:hover {
    background-color: transparent;
  }
  
  .service-item::after {
    content: '';
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    height: 160px;
    background-color: #007bff;
    /* border-radius: 50%; */
    transform: scale(0);
    transform-origin: center bottom;
    transition: transform 0.5s ease;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  
  .service:hover .service-item::after {
    transform: scale(1);
  }
  
  .service:hover {
    cursor: pointer;
  }
  
  .service:hover h4 {
    color: #fff !important;
    z-index: 1000;
  }